:root {
  --orange: #ff6600;
  --grey: #828282;
  --background-grey: rgb(246, 246, 239);
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
}

.route-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-grey);
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
}

.grey {
  filter: grayscale(100%);
}

.button {
  box-sizing: border-box;
  width: 6vw;
  height: 1.35vw;
  border: none;
  background-color: var(--orange);
  color: white;
  border-radius: 4px;
  font-variant: small-caps;
  cursor: pointer;
}

.button:active {
  transform: scale(0.9);
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--background-grey);
  -moz-box-shadow: inset 0px 0px 0px 2px var(--background-grey);
  box-shadow: inset 0px 0px 0px 2px var(--background-grey);
}

.button_transparent {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: monospace;
}

.icon-button {
  background: none;
  border: none;
  padding: 1px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
}

.icon-button:hover,
.icon-button:focus {
  transform: scale(1.15);
  outline: none;
}

.icon-button:active {
  transition: none;
  transform: scale(1);
}

.icon-button:focus .icon-button__icon {
  transition: none;
}

.input {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
  height: 1.5vw;
  border: 1px solid var(--grey);
  border-radius: 2px;
}

.error-input {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.05);
}

.input-label {
  font-family: monospace;
  font-size: 1.2rem;
}

.error-text {
  font-size: small;
  font-variant: small-caps;
  color: red;
}

.success-text {
  font-variant: all-petite-caps;
  font-size: 1.3rem;
  font-family: monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--orange, orange);
  white-space: nowrap;
  padding: 0.15rem;
  color: black;
  border-top: 8px solid white;
  font-size: 0.85rem;
}

.header-title {
  font-weight: 700;
  margin: 0;
  margin-right: 5px;
  color: black;
  text-decoration: none;
}

.header-title figure {
  margin: 0;
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  color: black;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__logo {
  width: 1vw;
  height: 0.9vw;
  border: 1px solid white;
  margin: 0 5px 0 0;
}

.nav-menu__link {
  margin-left: 0.7rem;
  color: black;
  text-decoration: none;
}

.nav-menu__item {
  position: relative;
  margin-right: 10px;
}

.nav-menu__item:last-child {
  margin-right: 0;
}

.nav-menu__item:not(:last-child):after {
  content: "|";
  position: absolute;
  right: -0.85rem;
}

.nav-user__login-link {
  color: black;
  text-decoration: none;
}

.nav-user:last-child {
  margin-right: 5px;
}

.nav-user__item {
  position: relative;
  margin-left: 1rem;
}

.nav-user__item:not(:last-child):after {
  content: "|";
  position: absolute;
  right: -0.7rem;
  top: 0;
}

.nav-user__logout-button {
  cursor: pointer;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.login-form__submit-button {
  margin-bottom: 15px;
}

.login-form .error-text {
  margin: -15px 0 10px 0;
}

.submit-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.forgot-password__link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: monospace;
}

.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 20vw;
  padding: 20px 0 20px 0;
}

.forgot-password .error-text {
  margin-bottom: 0;
}

.forgot-password .success-text {
  margin-bottom: 0;
}

.create-link-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 20vw;
  margin-top: 15px;
}

.create-link-form .error-text {
  margin: -15px 0 10px 0;
}

.link-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.link-item__count {
  font-size: 0.85rem;
}

.link-item__body {
  font-size: 0.85rem;
}

.link-item-title__description {
  margin-right: 5px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.link-item-title__description:hover {
  color: var(--grey);
}

.link-item-title__description:active {
  color: black;
}

.link-item-title__description:visited {
  color: var(--grey);
}

.link-item-title__domain {
  font-size: 0.8em;
  color: var(--grey);
}

.link-item__subtext-about {
  font-size: 0.7em;
  color: var(--grey);
}

.link-item__prefix {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.link-item__comment {
  position: relative;
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}

.link-item__comment::before {
  content: "|";
  position: absolute;
  left: -6.3px;
}

.link-item__comment:hover,
.link-item__comment:focus {
  text-decoration: underline;
}

.link-item__comment:active {
  text-decoration: none;
}

.link-item__upvote-button .icon-button__icon {
  transition: filter 0.5s;
}

.link-item__delete-button {
  margin-left: 5px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form__search-field {
  margin: 15px 5px;
}

.add-comment {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 50px;
}

.add-comment__field {
  margin-bottom: 15px;
}

.comment {
  margin-left: 20px;
  font-size: 0.8rem;
}

.comment__details {
  font-size: 0.85em;
  color: var(--grey);
  margin: 0;
}

.comment__author {
  position: relative;
  margin-right: 10px;
}

.comment__author::after {
  content: "|";
  position: absolute;
  right: -8px;
}

.comment-text {
  margin: 7px 0;
  max-width: 83%;
}

.pagination {
  margin-top: 10px;
}

.pagination__pointer {
  border: none;
  background: transparent;
  cursor: pointer;
  font-variant: small-caps;
}
